<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorator="layout">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link th:href="@{/css/main.css}" href="/static/css/main.css" rel="stylesheet" type="text/css"  />

</head>

<body>
<div class="container">

	<div layout:fragment="content" align="center">
		<div th:include="menuFragment"></div>
    	<br/><br/>
	   			<form action="CreateGrade" class="w3-container w3-card-4 w3-light-grey" method="POST">
					<table>
						<tr><td>Ocena:</td><td><input type="text" name="gradeName" /></td></tr>
						<tr><td>Student:</td><td><select class="form-control" name="studentId" id="studentId">
							<option value="-1">---</option>
							<option th:each="student: ${students}" th:value="${student.id}" th:text="${student.name} + ', ' + ${student.surname}"></option>
						</select></td></tr>
						<tr><td>Przedmiot:</td><td><select class="form-control" name="subjectId" id="subjectId">
							<option value="-1">---</option>
							<option th:each="subject: ${subjects}" th:value="${subject.id}" th:text="${subject.name}"></option>
						</select></td></tr>
					</table><br/><BR/>
					<button class="button"  type="submit">Utwórz</button>
				</form>
    </div>

</body>
</html>


