<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
	<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
		<div class="container">
			<div layout:fragment="content">
				<div th:include="menuFragment" ></div>
				<br/><Br/>
				<table border="1" cellpadding="5" id="customers">
					<tr>
						<th>Id</th>
						<th>Subject</th>
						<th>Grade</th>
						<th>ID</th>
						<th colspan="2">Actions</th>
					</tr>
					<tr th:each="grade: ${grades}">
						<td th:if="${grade.id != null}"><span th:text="${grade.id}" /></td>
						<td th:if="${grade.id == null}">NULL</td>
						<td th:if="${grade.subject != null}"><span th:text="${grade.subject}" /></td>
						<td th:if="${grade.subject == null}">NULL</td>
						<td th:if="${grade.grade != null}"><span th:text="${grade.grade}" /></td>
						<td th:if="${grade.grade == null}">NULL</td>
						<td th:if="${grade.student.name != null}"><span th:text="${grade.student.name}" /></td>
						<td th:if="${grade.student.name == null}">Brak Studenta</td>
					</tr>
				</table>
				<br />
				<a href='AddStudent' class="button"><span
						></span> Dodaj studenta</a><br />
				<br />
			</div>
		</div>
</body>
</html>