<html style="text-align:center;" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Szkoła</title>
</head>

<body bgcolor="dee4ea">
<div align="center"> 
<br/>
		<h2> System obsługi szkoły <span id="the-title" layout:fragment="pageTitle" /> </h2>
		<h5> Zalogowany jako: <span th:text="${session.userLogin}" /> </h5>
		<h4 th:text="${message}" style='color:#c00' />
		
	<br/>

	<table style="width:80%; BORDER: RGB(137,155,175) 1px solid;">
		<tr style="margin: 8px; background-color: #eae1e0;">
			<td align='center'>
			
				<div id="the-content" layout:fragment="content">
					Static content - never visible 
	   			</div>

			</td>
		</tr>
	</table>
</div>
<br/>	<br/>	<br/>	<br/>
<hr />
(c) The Web Factory Inc.
</body>
</html>