<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>
	<div style="text-align: right">
		Zalogowany jako: <span sec:authentication="name" style="color:white;font-weight:bold">Bob</span> Rola: <span
			sec:authentication="principal.authorities" style="color:white;font-weight:bold">[ADMIN,LECTURER,STUDENT]</span>
		<a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
	</div>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"></a>
			</div>

			<div id="navbar" class="collapse navbar-collapse">

				<ul class="nav navbar-nav">
					<li sec:authorize="hasAuthority('ADMIN')"><a href="Students" style="color:white;font-weight:bold">Uczniowie</a></li>
					<li sec:authorize="hasAuthority('STUDENT')"><a href="StudentView" style="color:white;font-weight:bold">Oceny i Obecnosci</a></li>
					<li sec:authorize="hasAuthority('ADMIN')"><a href="Teachers" style="color:white;font-weight:bold">Nauczyciele</a></li>
					<li sec:authorize="hasAuthority('ADMIN')"><a href="SchoolClasses" style="color:white;font-weight:bold">Klasy</a></li>
					<li sec:authorize="hasAuthority('ADMIN')"><a href="Subjects" style="color:white;font-weight:bold">Przedmioty</a></li>
					<li sec:authorize="hasAnyAuthority('ADMIN','LECTURER')"><a href="Grades" style="color:white;font-weight:bold">Oceny</a></li>
					<li sec:authorize="hasAnyAuthority('ADMIN','LECTURER')"><a
						href="Presences" style="color:white;font-weight:bold">Obecnosci</a></li>
					<li sec:authorize="hasAuthority('ADMIN')"><a
						href="registration" style="color:white;font-weight:bold">Rejestracja</a></li>
				</ul>
			</div>

		</div>
	</nav>


	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>