<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorator="layout">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link th:href="@{/css/main.css}" href="/static/css/main.css" rel="stylesheet" type="text/css"  />

</head>
<div class="container">
	<div class="table table-hover">
		<div layout:fragment="content" align="center">
			<div th:include="menuFragment" ></div>
			<table >
				<tr>
					<th>Date</th>
					<th>Student</th>
					<th>Przedmiot</th>
					<th>Obecnosc</th>
					<th colspan="2">Akcje</th>
				</tr>
				<tr th:each="presence: ${presencesList}">
					<td><span th:text="${presence.dateField}" /></td>
					<td><span th:text="${presence.student.name}+' '+${presence.student.surname}" /></td>
					<td><span th:text="${presence.subject.name}" /></td>
					<td><span th:text="${presence.presence}" /></td>
					<td>
						<form action="DeletePresence" method="POST">
							<input type="hidden" name="presenceId"
								   th:value="${presence.id}" />
							<input class="btn btn-primary" type=submit value="Skasuj" style="width:100%">
						</form>
					</td>
					<td>
						<form action="ShowUpdatePresenceForm" method="POST">
							<input type="hidden" name="presenceId"
								   th:value="${presence.id}" />
							<input class="btn btn-primary" type=submit value="Edytuj" style="width:100%">
						</form>
					</td>
				</tr>
			</table>
			<br />
			<form action="AddPresence" method="POST">
				<button class="button"  type="submit">Dodaj</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>