<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

    <div layout:fragment="content">
    <div th:include="menuFragment" ></div>
    	<br/><br/>
	   			<form action="CreateSchool" method="POST">
					<table>
						<tr><td>nazwa:</td><td><input type="text" name="schoolName" /></td></tr>
						<tr><td>adres:</td><td><input type="text" name="schoolAddress" /></td></tr>
					</table><br/><BR/>
					<input type="submit" value="Utwórz"/>
				</form>
    </div>

</body>
</html>


