<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link th:href="@{/css/main.css}" href="/static/css/main.css"
	rel="stylesheet" type="text/css" />

</head>
<body>
	<div class="container">
		<div layout:fragment="content">
			<div th:include="menuFragment"></div>
			<br /> <br />
			<form action="UpdateSchoolClass"
				class="w3-container w3-card-4 w3-light-grey" method="POST">
				<table>
					<tr>
						<td>rok rozpoczęcia:</td>
						<td><input type="text" name="schoolClassStartYear"
							th:value="${schoolClass.startYear}" /></td>
					</tr>
					<tr>
						<td>obecny rok:</td>
						<td><input type="text" name="schoolClassCurrentYear"
							th:value="${schoolClass.currentYear}" /></td>
					</tr>
					<tr>
						<td>profil:</td>
						<td><input type="text" name="schoolClassProfile"
							th:value="${schoolClass.profile}" /></td>
						<input type="hidden" name="schoolClassId"
							th:value="${schoolClass.id}" />
					</tr>

					<tr>
						<td>nauczyciel:</td>
						<td><select class="form-control" name="teacherId" id="teacherId">

								<option th:if="${schoolClass.teacher != null}" selected="selected" th:value="${schoolClass.teacher.id}"
									th:text="${schoolClass.teacher.name} + ', ' + ${schoolClass.teacher.surname}"></option>

								<option th:each="t: ${teachers}" th:value="${t.id}"
									th:text="${t.name} + ', ' + ${t.surname}"></option>
						</select></td>
					</tr>


					<tr>
						<td>szkoła:</td>
						<td><select class="form-control" name="schoolClassSchool"
							id="schoolClassSchool">
								<option selected="selected" th:value="${schoolClass.school.id}"
									th:text="${schoolClass.school.name} + ', ' + ${schoolClass.school.address}"></option>
								<option th:each="school: ${schools}" th:value="${school.id}"
									th:text="${school.name} + ', ' + ${school.address}"></option>
						</select></td>
					</tr>
				</table>
				<br /> <BR />
				<button class="button" type="submit">Zapisz</button>
			</form>
		</div>
</body>
</html>


