<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
	<div layout:fragment="content">
		<div th:include="menuFragment"></div>
		<br />
		<br />
		<form action="CreateStudent" method="POST">
			<table>
				<tr>
					<td>imie:</td>
					<td><input type="text" name="studentName" /></td>
				</tr>
				<tr>
					<td>nazwisko:</td>
					<td><input type="text" name="studentSurname" /></td>
				</tr>

				<tr>
					<td>pesel:</td>
					<td><input type="text" name="studentPesel" /></td>
				</tr>
				<tr>
					<td>klasa:</td>
					<td><select class="form-control" name="studentClass"
						id="studentClass">
							<option value="-1">---</option>
							<option th:each="class1: ${classes}" th:value="${class1.id}"
								th:text="${class1.profile} + ', ' + ${class1.school.name}"></option>
					</select></td>
				</tr>

			</table>
			<br />
			<BR /> <input type="submit" value="Utwórz" />
		</form>
	</div>
</div>
</body>
</html>


