<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/css/main.css}" href="/static/css/main.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<div class="container">

    <div layout:fragment="content">
        <div th:include="menuFragment"></div>
        <br/>
        <br/>
        <form action="CreateStudent" class="w3-container w3-card-4 w3-light-grey" method="POST">
            <table>
                <tr>
                    <td>imie:</td>
                    <td><input type="text" class="w3-input w3-border" name="studentName"/></td>
                </tr>
                <tr>
                    <td>nazwisko:</td>
                    <td><input type="text" class="w3-input w3-border" name="studentSurname"/></td>
                </tr>

                <tr>
                    <td>pesel:</td>
                    <td><input type="text" class="w3-input w3-border" name="studentPesel"/></td>
                </tr>
                <tr>
                    <td>klasa:</td>
                    <td><select class="form-control" name="studentClass"
                                id="studentClass">
                        <option value="-1">---</option>
                        <option th:each="class1: ${classes}" th:value="${class1.id}"
                                th:text="${class1.profile} + ', ' + ${class1.school.name}"></option>
                    </select></td>
                </tr>

            </table>
            <br/>
            <button class="button" type="submit">Utwórz</button>
        </form>
    </div>
</div>

</body>
</html>


