<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
	<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
	<div class="container">
		<div class="container">
			<div layout:fragment="content">
				<div th:include="menuFragment" ></div>
				<br/><Br/>
				<table border="1" cellpadding="5" id="customers">
					<tr>
						<th>Id</th>
						<th>Nazwa</th>
						<th>Adres</th>
						<th>profil</th>
						<th>pesel</th>
						<th>Szkola</th>
						<th colspan="2">Akcje</th>
					</tr>
					<tr th:each="student: ${students}">
						<td><span th:text="${student.id}" /></td>
						<td><span th:text="${student.name}" /></td>
						<td><span th:text="${student.surname}" /></td>
						<td th:if="${student.schoolClass != null}"><span th:text="${student.schoolClass.profile}" /></td>
						<td th:if="${student.schoolClass == null}">NIE MA</td>
						<td><span th:text="${student.pesel}" /></td>
						<td th:if="${student.schoolClass != null}"><span th:text="${student.schoolClass.school.name}" /></td>
						<td th:if="${student.schoolClass == null}">NIE MA</td>
						<td>
							<form action="DeleteStudent" method="POST">
								<input type="hidden" name="studentId" th:value="${student.id}" />
								<button class="button" type="submit">Skasuj</button>
							</form>
						</td>
						<td>
							<form action="ShowUpdateStudentForm" method="POST">
								<input type="hidden" name="studentId" th:value="${student.id}" />
								<button class="button" type="submit">Edytuj</button>
							</form>
						</td>

					</tr>


				</table>
				<br />
				<a href='AddStudent' class="button"><span
						></span> Dodaj studenta</a><br />
				<br />

			</div>
		</div>
	</div>

</body>
</html>