<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link th:href="@{/css/main.css}" href="/static/css/main.css"
		  rel="stylesheet" type="text/css" />

</head>
<body>
<div class="container">
	<div layout:fragment="content">
		<div th:include="menuFragment"></div>
		<br /> <br />
		<form action="UpdateSubject"
			  class="w3-container w3-card-4 w3-light-grey" method="POST">
			<table>
				<tr>
					<td>Name</td>
					<td><input type="text" name="subjectName"
							   th:value="${subjects.name}" />
						<input type="hidden" name="subjectId"
							   th:value="${subjects.id}" />

					</td>

				</tr>
				<tr>
					<td>nauczyciel:</td>
					<td><select class="form-control" name="teacherId" id="teacherId">

						<option th:if="${subjects.teacher != null}" selected="selected" th:value="${subjects.teacher.id}"
								th:text="${subjects.teacher.name} + ', ' + ${subjects.teacher.surname}"></option>

						<option th:each="t: ${teachers}" th:value="${t.id}"
								th:text="${t.name} + ', ' + ${t.surname}"></option>
					</select></td>
				</tr>



			</table>
			<button class="button" type="submit">Zapisz</button>
		</form>
	</div>
</body>
</html>


